@import url('http://allfont.ru/allfont.css?fonts=noto-sans');

@mixin background-opacity($color, $opacity: 0.3) {
    // background-color: $color;
    background-color: rgba($color, $opacity);
}

$primary-color: rgba(255, 108, 108, 1);
$secondary-color: rgba(1, 87, 108, 1);

.primary-btn {
    font-size: 0;
    span {
        font-family: 'Noto Sans', sans-serif;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: white;
        vertical-align: middle;
    }
    border-radius: 100px;
    padding: 18px;
    border: none;
    display: inline-block;
    @include background-opacity($primary-color, 1);
    transition: background .3s;
    
    &:hover {
        @include background-opacity($primary-color, 0.75);
        transition: background .3s;
    }

    svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    &.btn-type-1 {
        span + svg {
            margin-left: 8px;
        }
    }

    &.btn-type-2 {
        svg {
            display: none;
        }
    }

    &.btn-type-3 {
        padding: 20px;
        span {
            display: none;
        }
    }
}

.secondary-btn {
    font-size: 0;
    span {
        font-family: 'Noto Sans', sans-serif;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: white;
        vertical-align: middle;
    }
    border-radius: 100px;
    padding: 18px;
    border: none;
    display: inline-block;
    @include background-opacity($secondary-color, 1);
    transition: background .3s;

    &:hover {
        @include background-opacity($secondary-color, 0.75);
        transition: background .3s;
    }

    svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    &.btn-type-1 {
        span + svg {
            margin-left: 8px;
        }
    }

    &.btn-type-2 {
        svg {
            display: none;
        }
    }

    &.btn-type-3 {
        padding: 20px;
        span {
            display: none;
        }
    }

}

.link-el {
    text-decoration: none;
    font-size: 0;

    &.link-type-1 {
        &:hover {
            .link-el__text {
                transition: color .3s;
                color: $primary-color
            }
    
            .link-el__icon {
                transition: stroke .3s;
                stroke: $primary-color;
            }
        }
        .link-el__text {
            color: black;
            font-family: 'Noto Sans', sans-serif;
            font-size: 18px;
            line-height: 25px;
            transition: color .3s;
        }
        .link-el__icon {
            stroke: black;
            margin-left: 8px;
            transition: stroke .3s;
        }
    }

    &.link-type-2 {
        &:hover {
            .link-el__text {
                transition: color .3s;
                color: $primary-color
            }
        }
        .link-el__text {
            color: black;
            font-family: 'Noto Sans', sans-serif;
            font-size: 18px;
            line-height: 25px;
            transition: color .3s;
        }
        .link-el__icon {
            stroke: $primary-color;
            margin-left: 8px;
            transition: stroke .3s;
        }
    }



}